<style type="text/css">
$('.ui.dropdown')
  .dropdown()
;
</style>

<div id="page-wrapper" >
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header animated bounceInRight">Rollup SLA Status </h1> 
           
          </div>
      </div>

      <div class="row">&nbsp;</div>

      <div class="row">
          <div class="col-lg-12">
          <div  class="ui form">
            <div class="inline fields">
              <label>Environment:</label>
               <div class="field">
                <div class="ui slider checkbox">
                  <input  type="radio" name="env" value= "ZEO" ng-model="env">
                  <label>ZEO</label>
                </div>
              </div>
               <div class="field">
                <div class="ui slider checkbox">
                  <input type="radio" name="env" value= "EMR" ng-model="env">
                  <label>EMR</label>
                </div>
              </div>
               <div class="field">
                <div class="ui slider checkbox">
                  <input type="radio" name="env"  value= "JAD" ng-model="env">
                  <label>JAD</label>
                </div>
              </div>
               <div class="field">
                <div class="ui slider checkbox">
                  <input type="radio" name="env"  value= "ALL" ng-model="env">
                  <label>ALL PRO</label>
                </div>
              </div>
            </div>
          </div>
          </div>
       </div>

      <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>  Rollup SLA Status</h3>
                    </div>
                    <div  class="panel-body">
                        <chart value='rollupsla1' height="400" chartobj='chartObj'>
                        </chart>           
                    </div>
                </div>
            </div>
      </div>

      <div class="row">&nbsp;</div>

      <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>  Rollup SLA Status</h3>
                    </div>
                    <div  class="panel-body">
                        <chart value='rollupsla2' height="400" chartobj='chartObj'>
                        </chart>           
                    </div>
                </div>
            </div>
      </div>

  </div>
</div>